/* Normalize */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  color: #2f3131;
}

ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
}

/* font-family: 'DM Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto Slab', serif; */
